.topBar{
    width: 100%;
    height: 70px;
    color: #15023a;
    background-color: white;
    position: fixed;
    top:0;
    z-index:3;
    transition:  all 1s ease; 
} 

.wrapper{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    align-content: flex-end
}

.logo{
    font-size: 40px;
    font-weight: 700;
    color: inherit; 
    margin-right:40px;
}

.itemContiner{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.iqon{
    font-size: 18px;
    margin-right: 5px;
}

.itemContiner span {
    font-size: 15px;
    font-weight: 500;
}

 
.hamburger{
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span{
    width: 100%;
    height: 3px;
    background-color: #15023a;
    transform-origin: left;
    transition: all 2s ease;
}

.active{
    background-color: #15023a;
    color: white;
}

.activeHamburger span:first-child{
  background-color: white;
  transform: rotate(45deg);
}

.activeHamburger span:last-child{
    background-color: white; 
    transform: rotate(-45deg);
}

.activeHamburger span:nth-child(2){
    opacity: 0;
}



@media only screen and (max-width: 730px) {
    .itemContiner{
        margin-left: 9px;
    }
  
}

@media only screen and (max-width: 690px) {
    .itemContiner{
       display: none;
    }
  
}